
.flights {}

.flights__filters {
  margin-bottom: 20px;

  width: 220px;
}

.flights__list {
  max-width: 774px;
}

.flight {
  display: flex;

  box-sizing: border-box;
  padding: 10px;

  cursor: default;
}

.flight__carrier {
  display: flex;
  align-items: center;

  flex: 0 0 10%;

  padding: 0 10px 0 0;
}

.flight__info {
  display: flex;
  flex: 1 0;
}

.flight__info__part {
  display: flex;
  flex-direction: column;
  flex: 0 0 40%;
}

.flight__info__part:first-child {
  margin-right: 10px;
}

.flight__info__name {
  color: #9e9e9e;
  font-size: 12px;
}

.flight__info__time {
  font-weight: 500;
  font-size: 21px;
}
